/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基础布局 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4267b2;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*  */
.header-left {
    flex: 1;
}

.header-middle {
    flex: 2;
    display: flex;
    justify-content: center;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header input[type="text"] {
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

header button {
    background-color: #365899;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

header button:hover {
    background-color: #29487d;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-content {
    width: 70%;
}

.sidebar {
    width: 25%;
}

h2 {
    color: #4267b2;
}

/* 貼文區域表單美化 */
#post-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    transition: box-shadow 0.3s;
}

#post-form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#post-type {
    margin-top: 10px;
}

#youtube-input {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#youtube-url {
    width: 90%;
    max-width: 600px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#post-content {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

#post-content:focus {
    border-color: #4267b2;
}

#post-image {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 其他貼文樣式 */
.post {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.post-header,
.post-footer,
.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header {
    font-weight: bold;
}

.post-header .post-username {
    color: #4267b2;
    font-size: 20px;
}

.post-header .post-datetime {
    color: #65676b;
    font-size: 12px;
}

.post-content {
    margin: 10px 0;
    font-size: 16px;
}

.post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.post-footer {
    font-size: 14px;
    color: #65676b;
    margin-top: 16px;
}

.post-footer .likes-count,
.post-footer .comments-count,
.post-footer .shares-count {
    margin-right: 15px;
}

.post-actions button {
    background: none;
    border: none;
    color: #4267b2;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.post-actions button:hover {
    background-color: #e4e6eb;
}

/* 留言區域 */
.comment {
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-header .comment-username {
    color: #4267b2;
    font-weight: bold;
}

.comment-header .comment-datetime {
    color: #65676b;
    font-size: 14px;
}

.comment-content {
    font-size: 16px;
}

.comment-form {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-form textarea {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 14px;
}

.comment-form button {
    background-color: #4267b2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.comment-form button:hover {
    background-color: #365899;
}

/* 被分享貼文的外框的樣式 */
.shared-post-container {
    border: 1px solid #4267b2;
    border-radius: 8px;
    background-color: #f0f2f5;
}

.shared-post-footer {
    font-size: 14px;
    color: #65676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shared-post-footer .likes-count,
.shared-post-footer .comments-count,
.shared-post-footer .shares-count {
    margin-right: 15px;
}

/* 被分享貼文的樣式 */
.shared-post-container .post {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    margin: 0; /* 一般貼文以下方的margin作分隔，塞在分享框裡不需要 */
}
